@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-8">
        <div class="card shadow-sm rounded">
            <div class="card-body">
                <h1 class="card-title text-center">@ViewData["Title"]</h1>
                <hr />
                @if (Model.DisplayConfirmAccountLink)
                {
                    <div class="alert alert-info">
                        This app does not currently have a real email sender registered. See <a href="https://aka.ms/aspaccountconf" class="alert-link">these docs</a> for how to configure a real email sender.
                    </div>
                    <p class="text-center">
                         <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="btn btn-primary">Click here to confirm your account</a>
                    </p>
                }
                else
                {
                    <p class="text-center">
                        Please check your email to confirm your account.
                    </p>
                }
            </div>
        </div>
    </div>
</div>
