@model GenreModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Delete</h1>

<div class="container mt-4">

    <h3 class="text-center mb-4">'Are you sure you want to delete @Model.Name?'</h3>
<div class="card shadow-sm">
    <div class="card-body">
        <h3 class="card-title">Genre Information</h3>
        <hr />
    
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    </div>
    </div>
</div>
    <div class="text-center mt-4">
    <form asp-action="Delete">
        <input type="hidden" asp-for="GenreId" />
                    <button type="submit" onclick="return confirm('Are you sure want to delete? @Model.Name')" class="btn btn-danger me-2" >Delete</button> 
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
