@model GenreModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Genre Details</h1>

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Genre Information</h4>
    <hr />

    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
    </div>
</div>
<div class="text-center mt-3">
    <a asp-action="Edit" class="btn btn-warning me-2" asp-route-id="@Model?.GenreId">Edit</a> 
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
