@model MovieViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Add New Movie</h1>

@if (ViewBag.msg !=null)
{
    <p class="text-center text-success">@ViewBag.msg</p>
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Movie Details</h4>
                    <hr />
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="MovieName" class="form-label">Movie Name</label>
                            <input asp-for="MovieName" class="form-control" />
                            <span asp-validation-for="MovieName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="form-label">Description</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Director" class="form-label">Director</label>
                            <input asp-for="Director" class="form-control" />
                            <span asp-validation-for="Director" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Duration" class="form-label">Duration(min)</label>
                            <input asp-for="Duration" class="form-control" />
                            <span asp-validation-for="Duration" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Genre" class="form-label">Genre</label>
                            <select asp-for="Genre" class="form-control" asp-items="ViewBag.Genres">
                                <option value="">Select Genre</option>
                            </select>
                            <span asp-validation-for="Genre" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Image" class="form-label">Image</label>
                            <input asp-for="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Add Movie</button>
                            <a asp-action="List" class="btn btn-secondary">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @*include client-side validation scripts,ensures that necessary JavaScript files or scripts for form validation are loaded properly when the page is rendered.*@

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");  
    }
}
