<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieApplication</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieApplication.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script>
    <style>
        
        
        .navbar-brand {
            font-size: 1.8rem;
            font-weight: bold;
            color: white; 
        }

        .nav-item .nav-link{
            color:white;
        }

        .login-button {
            margin-right: 10px;
            background-color: #007bff; 
            color: white;
            border: none;
            padding: 8px;
            border-radius: 50%;
            transition: background-color 0.3s ease;
            font-size: 1.2rem;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

            .login-button:hover {
                background-color: #0056b3; 
            }

        .nav-link {
            font-size: 1.2rem;
            color: #fff; 
        }

            .nav-link:hover {
                color: #cceeff; 
            }

        .navbar {
            background-color: #343a40; 
            color:white;
        }

        .border-top {
            background: #343a40; 
            color: #fff; 
            text-align: center;
            font-size: 0.8rem;
        }

            .border-top .container{
                color:white;
            }
        .logout-button {
            background-color: #dc3545;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 0px;
            transition: background-color 0.3s ease;
        }

            .logout-button:hover {
                background-color: #c82333;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MovieApplication</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Movie" asp-action="Create">Add Movie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Genre" asp-action="Create">Add Genre</a>
                        </li>
                    </ul>
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    string[] parts = User.Identity.Name.Split('@');
                    if (parts.Length > 0)
                    {
                        string name = parts[0].Trim();
                        
                        string firstLetter = name.Substring(0, 1).ToUpper();
                        <form asp-area="Identity" asp-page="/Account/Manage/Index" method="get" asp-route-returnUrl="@Url.Page("/Account/Manage/Index", new { area = "" })">
                            <button type="submit" class="login-button me-3">
                                <div>
                                    @firstLetter
                                </div>
                            </button>
                        </form>
                    }
                }
                
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <form  asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="btn btn-outline-danger ">Logout</button>
                </form>
                }
                else
                {
                        <a id="manage" class="btn btn-primary" title="Manage" asp-area="Identity" asp-page="/Account/Login">Login</a>
                }
            </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MadhavDhakal
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
